---
const { emoji, text } = Astro.props;
---

  <div class="flex items-center space-x-4 m-2 container xl">
    <span class="text-3xl">{emoji}</span>
    <p class="text-gray-800">
      {text}
    </p>
  </div>

